@import "vars";
@import "mixins";

$questionAvatarSize: 40px;
$questionUserPadding: 10px;

.answer-block {
  @include smallMobile() {
    margin-left: -$mainPadding;
    margin-right:-$mainPadding;
  }

  .user {
    border-top: 0.5px solid $separatorColor;
    position: relative;
    padding: $questionUserPadding;
    padding-left: $questionAvatarSize + ($questionUserPadding * 2);
    cursor: pointer;
  }

  .avatar {
    position: absolute;
    left: $questionUserPadding;
    top: 50%;
    margin-top: -($questionAvatarSize / 2);
    display: block;
    width: $questionAvatarSize;
    height: $questionAvatarSize;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  }

  #answerCreatedAt{
    margin-right: 10px;
  }

  .thumbnail {
    margin: 0;
    padding: 0;
    max-width: $contentMaxWidth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      z-index: 2;
      width: 100%;
      background:rgba(0,0,0,0.6);
    }
  }

  .name {
    color: #727272;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
  }

  .view, .time {
    color: $lightGrey;
    font-size: 13px;
  }

  .info {
    padding: 11px $singleAnswerContentPadding;
    color: rgba(68, 70, 71, 0.3);

    li + li {
      margin-left: 15px;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
