@import "vars";
@import "mixins";

$questionAvatarSize: 30px;
$questionUserPadding: 15px;

.answer-block {
  @include smallMobile() {
    margin-left: -$mainPadding;
    margin-right:-$mainPadding;
  }

  .user {
    border-top: 0.5px solid rgba(151, 151, 151, 0.4);
    position: relative;
    padding: $questionUserPadding;
    padding-left: $questionAvatarSize + ($questionUserPadding * 2);
  }
  .avatar {
    position: absolute;
    left: $questionUserPadding;
    top: 50%;
    margin-top: -($questionAvatarSize / 2);
    display: block;
    width: $questionAvatarSize;
    height: $questionAvatarSize;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
  }

  .name {
    color: #727272;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
  }

  .view, .time {
    color: $lightGrey;
    font-size: 13px;
  }

  .info {
    padding: 11px $singleAnswerContentPadding;
    color: rgba(68, 70, 71, 0.3);

    li + li {
      margin-left: 15px;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
