@import "vars";
@import "mixins";

$tabItemActiveColor: #19ADE2;

#groupQuestions {
  @include smallMobile() {
    margin-left: -$mainPadding;
    margin-right: -$mainPadding;
  }
}

.group-questions {
  max-width: $contentMaxWidth;
  margin-bottom: 50px;

  @include smallMobile() {
    width: 100%;
    max-width: inherit;
  }

  .tabs {
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: rgba(151, 151, 151, 0.4);
    margin-top: 25px;

    .item {
      width: (100% / 4);
      float: left;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      line-height: 45px;
      cursor: pointer;

      position: relative;

      @include smallMobile() {
        font-size: 10.5px;
        line-height: 40px;
      }

      &.active {
        color: $tabItemActiveColor;

        &:after {
          content: "";
          display: block;
          border-bottom: 2px solid $tabItemActiveColor;
          position: relative;
          bottom: -1px;
          left: 0;
        }
      }
    }
  }

  .questions {
    &>.item {
      padding: 15px 12px;
      border-bottom: 0.5px solid rgba(151, 151, 151, 0.2);

      .content {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 5px;

        a {
          color: #585858 !important;
          text-decoration: none;
        }

        @include smallMobile() {
          font-size: 14.5px;
        }
      }

      .tertiary-info {
        float: left;
        font-size: 13px;
        line-height: 20px;
        color: $lightGrey;

        .item {
          display: inline-block;

          &+.item {
            margin-left: 12px;
          }
        }
      }

      .users {
        float: right;

        .item {
          display: block;
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 1000px;
          background-size: cover;
          background-position: center;
          text-decoration: none;

          &+.item {
            margin-left: 3px;
          }
        }
      }
    }
  }
}