@import "vars";
@import "mixins";

#groupQuestions {
  @include smallMobile() {
    margin-left: -$mainPadding;
    margin-right: -$mainPadding;
  }
}

main{
  background: white;
}

.prev_btn, .next_btn{
  width: 56px;
  height: 56px;
  display: block;
  position: absolute;

  @media #{$tablet} {
    display: none;
  }

  @media #{$phone} {
    display: none;
  }
}

.prev_btn{
  background: url(../images/prev_btn.png) no-repeat;

  &:hover{
    background: url(../images/prev_btn_selected.png) no-repeat;
  }
}

.next_btn{
  background: url(../images/next_btn.png) no-repeat;

  &:hover{
    background: url(../images/next_btn_selected.png) no-repeat;
  }
}

.group_name{
  font-size: 25px;
  color: $bodyTextColor;
  margin-top: 40px;
}

.group_name_separator{
  width: 100px;
  height: 1px;
  margin-top:10px;
  background: $separatorColor;
  border: 0;
}

#group_info{
  width: 240px;
  height: 50px;
  margin: 15px auto 0;

  .count_box{
    width: 80px;
    height: 50px;
    float: left;
    text-align: center;
    color: $timestampColor;
    font-size: 12px;

    .count{
      display: block;
      font-size: 17px;
      color: $bodyTextColor;
    }
  }
}

#group_top_users{
  height: 100px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;

  h3 {
    font-size: 13px;
    margin-left: 10px;
  }

  .prev_btn{
    left: -70px;
    top: 25px;
  }

  .next_btn{
    right: -70px;
    top: 25px;
  }

  .list_container{
    max-width: 800px;
    overflow: scroll;
    height: 80px;

    ul {
      width: 999999px;
    }

    li{
      float: left;
      font-size: 13px;
      width:60px;
      height: 75px;
      text-align: center;
      margin-right: 8px;
      overflow: hidden;

      &:first-child{
        margin-left:10px;
      }

      a{
        text-decoration: none;
        color: $bodyTextColor;
      }

      .avatar{
        margin: 0 auto 4px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
      }
    }
  }
}

#group_nav{
  border-top: 1px solid $separatorColor;
  border-bottom: 1px solid $separatorColor;
  height: 35px;
  margin-top: 20px;

  ul{
    margin: 0 auto;
    max-width: 350px;

    li{
      float: left;
      padding: 6px 15px;

      a{
        color: $bodyTextColor;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;

        &.selected{
          color: $textBlueColor;
        }

        &:hover{
          color: $textBlueColor;
        }
      }
    }
  }
}

#questions_list{
  margin: 0 auto;
  max-width: 800px;

  .question{
    border-bottom: 1px solid $separatorColor;
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;

    &:first-child{
      margin-top:10px;
    }

    &:nth-last-child(2){
      border-bottom: 0;
    }

    h3{
      font-size: 17px;
      color: black;
      margin-bottom: 5px;
      margin-left: 10px;
    }

    span{
      font-size: 13px;
      font-weight: 200;
      color: $timestampColor;
      margin-left: 10px;
    }

    .prev_btn{
      left: -70px;
      top: 175px;
    }

    .next_btn{
      right: -70px;
      top: 175px;
    }

    .list_container{
      max-width: 800px;
      overflow: scroll;
      height: 325px;

      ul {
        white-space: nowrap;
      }
    }
  }
}

.answer_card{
  width: 200px;
  height: 295px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
  white-space: normal;
  display: inline-flex;
  overflow: hidden;

  &:last-child{
    margin-right: 10px;
  }

  a{
    text-decoration: none;
  }

  .video_thumbnail{
    width: 200px;
    height: 200px;
    background-size:cover;
    border-radius: 6px 6px 0 0;
  }

  .play_btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 52px;
    background: url(../images/answer_card_play_btn.png) no-repeat;
  }

  h4{
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 2px;
    color: $bodyTextColor;
  }

  span{
    font-size: 14px;
    color: $timestampColor;
    margin-left: 8px;
    display: block;
  }
}

.group-questions {
  max-width: $contentMaxWidth;
  margin-bottom: 50px;

  @include smallMobile() {
    width: 100%;
    max-width: inherit;
  }

  .tabs {
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: rgba(151, 151, 151, 0.4);
    margin-top: 25px;

    .item {
      width: (100% / 4);
      float: left;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      line-height: 45px;
      cursor: pointer;

      position: relative;

      @include smallMobile() {
        font-size: 10.5px;
        line-height: 40px;
      }

      &.active {
        color: $tabItemActiveColor;

        &:after {
          content: "";
          display: block;
          border-bottom: 2px solid $tabItemActiveColor;
          position: relative;
          bottom: -1px;
          left: 0;
        }
      }
    }
  }

  .questions {
    &>.item {
      padding: 15px 12px;
      border-bottom: 0.5px solid rgba(151, 151, 151, 0.2);

      .content {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 5px;

        a {
          word-wrap: break-word;
          color: #585858 !important;
          text-decoration: none;
        }

        @include smallMobile() {
          font-size: 14.5px;
        }
      }

      .tertiary-info {
        float: left;
        font-size: 13px;
        line-height: 20px;
        color: $lightGrey;

        .item {
          display: inline-block;

          &+.item {
            margin-left: 12px;
          }
        }
      }

      .users {
        float: right;

        .item {
          display: block;
          width: 20px;
          height: 20px;
          display: inline-block;
          border-radius: 1000px;
          background-size: cover;
          background-position: center;
          text-decoration: none;

          &+.item {
            margin-left: 3px;
          }
        }
      }
    }
  }
}
