@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600,300);
@import "helper";
@import "answer-block";
@import "question-block";
@import "single-answer";
@import "group";
@import "all_groups";
@import "featured_users";
@import "profile";
@import "vars";
@import "_mixins";

body {
  font-family: "Open Sans" !important;
  background: $bodyTextColor;
  background-color: #F8F7F7;
  font-size: 15px;

  &.white {
    background: white;
    background-color: white;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: $textBlueColor;

  &:hover{
    color: rgba($textBlueColor, 0.7);
    text-decoration: none;
  }
}

.main-nav {
  background: white;
  padding: 15px;
  border-bottom: 1px solid $separatorColor;
  // margin-bottom: 25px;

  .logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 28px;
    width: 58px;
    height: 20px;
    background: url(../images/yam_logo.png) no-repeat;
    @include image-2x("../images/yam_logo@2x.png", 58px, 20px);
    margin: 0 auto;
  }
}
