@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600,300);
@import "helper";
@import "single-answer";
@import "vars";

@mixin mobile {
  @media (max-width: $lgAnswerListSize + $mainPadding * 2) {
    @content;
  }
}

@mixin smallMobile {
  @media (max-width: $smallAnswerListSize + $mainPadding * 2) {
    @content;
  }
}

@mixin extraSmallMobile {
  @media (max-width: $extraSmallAnswerListSize + $mainPadding * 2) {
    @content;
  }
}

body {
  font-family: "Open Sans";
  background: #F8F7F7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: $textBlueColor;
}

main {
  padding: 0 $mainPadding;
}

.main-nav {
  background: #CB473A;
  padding: 12px;
  margin-bottom: 25px;

  .logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 28px;
  }
}

.user-info {
  font-size: 15px;
  color: #727272;
  margin-bottom: 35px;

  .avatar {
    margin: auto;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1000px;
    margin-bottom: 15px;
  }

  .displayName {
    font-weight: 600;
    color: #505050;
  }

  ul.follow {
    margin-bottom: 15px;

    li {
      display: inline-block;

      &+ li {
        position: relative;
        padding-left: 24px;

        &:before {
          position: absolute;
          content: ".";
          top: -6px;
          left: -1px;
          width: 24px;
        }
      }
    }
  }

  .intro {
    margin-bottom: 11px;
  }
}

.answer-list {
  max-width: $lgAnswerListSize;
  margin-bottom: 50px;

  @include mobile() {
    max-width: $smallAnswerListSize;
  }

  @include smallMobile() {
    max-width: $extraSmallAnswerListSize;
    font-size: 16px;
  }

  @include extraSmallMobile() {
    margin-left: -$mainPadding !important;
    margin-right: -$mainPadding !important;
    max-width: initial;
  }

  &:before {
    content: " ";
    height: 1px;
    display: block;
    margin: 40px auto;
    border-bottom: 1px solid #979797;
    opacity: 0.3;
    max-width: 435px;
  }

  .overflow-wrapper {
    margin-right: -$lgAnswerPadding;

    @include extraSmallMobile() {
      margin-left: -2% !important;
      margin-right: -2% !important;
    }
  }

  .answer {
    float: left;
    position: relative;
    margin-right: $lgAnswerPadding;
    margin-bottom: $lgAnswerPadding;
    overflow: hidden;

    a {
      text-decoration: none;
    }

    @include smallMobile() {
      margin-right: $extraSmallAnswerPadding;
      margin-bottom: $extraSmallAnswerPadding;
    }

    @include extraSmallMobile() {
      width: 46%;
      margin: 2%;

      &:after {
        content: " ";
        display: block;
        padding-top: 100%;
      }
    }

    &:before {
      content: " ";
      opacity: 0.6;
      background: black;
    }

    &:before, .question {
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .cover {
      position: relative;
      z-index: 1;
      width: $lgAnswerSize;
      height: $lgAnswerSize;

      @include smallMobile() {
        width: $extraSmallAnswerSize;
        height: $extraSmallAnswerSize;
      }

      @include extraSmallMobile() {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .question {
      color: white;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      padding: 40px;
      font-weight: 300;

      @include smallMobile() {
        font-size: 16px;
        padding: 20px;
        line-height: 23px;
      }
    }

    .info {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
      padding-bottom: 20px;

      @include smallMobile() {
        display: none;
      }

      img {
        width: 21px;
        margin-right: 4px;
        margin-top: -3px;
      }

      span + span {
        margin-left: 15px;
      }
    }
  }
}

.notice {
  padding: 20px 30px;
  font-size: 16px;
  max-width: 440px;
  margin: auto;
  border-radius: 8px;

  &.green {
    background: #C7FCE0;
    color: #269E60;
  }

  &.blue {
    background: #D1F3FF;
    color: $textBlueColor;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &.disabled {
    opacity: 0.5;
  }

  &.button-small {
    background: #19ADE2;
    color: white;
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 1000px;
    text-transform: uppercase;
  }

  &.button-large {
    border: 1px solid #19ADE2;
    border-radius: 1000px;
    text-transform: capitalize;
    padding: 13px 50px;
    min-width: 240px;
    font-size: 18px;
    color: #19ADE2;

    @include extraSmallMobile() {
      min-width: initial;
    }
  }
}

.ask-question-input {
  position: relative;
  max-width: 400px;
  background: white;
  border-radius: 8px;
  padding: 8px 14px 26px 14px;

  textarea {
    background: transparent;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
  }

  .counter {
    position: absolute;
    right: 14px;
    bottom: 7px;

    font-size: 13px;
    color: #A5A5A5;

    span {
      color: #E55454;
    }
  }
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.ridiq-modal {
  background: #F8F7F7;
  border-radius: 8px;

  .ridiq-modal-header {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    padding: 13px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #575757;
    position: relative;

    .btn-close {
      float: left;
      display: inline-block;
      color: #575757;
      opacity: 0.3;
      font-weight: 700;
      font-size: 32px;
      line-height: 20px;
      cursor: pointer;
      padding: 3px;
    }
  }

  .ridiq-modal-content {
    padding: 25px 14px;
  }
}