@import "vars";

.question-block {
  padding: 10px;
  
  .asked-in {
    color: $lightGrey;
  }

  .content {
    font-weight: 600;
    font-size: 17px;
    color: #585858;
    padding: 8px 0 10px;
    word-wrap: break-word;
  }
}
